/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.product, .buyer-info {
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    margin-right: 750px;
}

#paypal-buttons {
    margin-top: 20px;
}
